@font-face {
    font-family: 'aero_maticsbold';
    src: url('../fonts/aero_matics_bold-webfont.woff2') format('woff2'),
         url('../fonts/aero_matics_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aero_matics_display_lightRg';
    src: url('../fonts/aero_matics_display_light-webfont.woff2') format('woff2'),
         url('../fonts/aero_matics_display_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aero_maticsregular';
    src: url('../fonts/aero_matics_regular-webfont.woff2') format('woff2'),
         url('../fonts/aero_matics_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}